html {
	min-height: 100%;
}

body {
	height: 100%;
	margin: 0;

	background-repeat: no-repeat;
	background-attachment: fixed;

	background: linear-gradient(
			217deg,
			rgba(255, 0, 0, 0.8),
			rgba(255, 0, 0, 0) 70.71%
		),
		linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%)
			fixed;
}

input {
	border-radius: 10px;
	border: none;
	outline: none;
	background: linear-gradient(90deg, #ccffff, #ffcccc);
	size: 100px;
	margin-bottom: 10px !important;
	height: 40px;
	font-size: 30px !important;

	text-align: center;
}

input:focus {
	border: none;
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

h1 {
	font-size: 75px !important;
}

button {
	background: linear-gradient(90deg, #43cea2, #185a9d);
	color: white !important;
	border: none;
}

button:focus {
	border: none;
	outline: none;
}

@media only screen and (max-width: 600px) {
	input {
		font-size: 20px !important;
	}
}
@media only screen and (min-width: 1000px) {
	input {
		font-size: 40px !important;
		height: 70px;
	}
	button {
		width: 70% !important;
		height: 100px !important;
		font-size: 30px !important;
		font-weight: bold;
		font-family: arial !important;
	}
}
